.designMainPage{
    max-height: 100vh;
    
    &__bg{
        min-height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;


        &__fullscreen{
            width: 100%;
            height: 100%;
            object-fit:contain;
        }
    }
    &__overflow{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($color: #004bfb, $alpha: .5);
    }
}