.btn{
    padding: 15px;
    font-size: 25px;
    color: var(--background);
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 20px;
    &_mainPage{
        padding: 15px 50px;

    }
}